<!DOCTYPE html>
<html>
<head>
	<title>To-Do List</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='forcss.css') }}">
</head>
<body>
	
	<h1>To-Do List</h1>
	<ul>
	{% for task in tasks %}
	<span class="task-id">{{ loop.index }}</span>
	<li>{{ task }}</li>
	<form action="{{ url_for('delete_task', id=loop.index) }}" method="POST">
            <button type="submit" class="delete-button">Delete</button>
    </form>
	{% endfor %}
	
	<form action="/add_task" method="post">
		<input type="text" name="task" placeholder="Add task">
		<button type="submit">Add</button>
	</form>
</body>
</html>
